<section id="intro" class="main style1 fullscreen">
<div class="content container small">
<header>
	<h2>Hello {{user.name}}.</h2>
</header>
<p>Your Instagram ID is: {{user.ig_id}}</p>

<a href="/c3follow">view C3 visualization for instagram follower number</a>
<br/>
<a href="/visualization">view D3 visualization for instagram followers' media counts</a>
<br/>
<a href="/table">view D3 visualization for facebook some info</a>
</div>
</section>




