<section id="intro" class="main style1 fullscreen">
<div class="content container small">
<header>
	<h2>Hey.</h2>
</header>
<p>Welcome to <strong>Data Visualization</strong>. It is designed by <a href="mailto: mic023@ucsd.edu">Ming and Jason</a>. You can check out a personalized data representation for your follower on Facebook and Instagram using <a href="http://c3js.org/"> C3JS </a> and <a href="http://d3js.org/"> D3JS </a> </p>
<br/>
<footer>
	<h5> To Start, you must login. </h5>
	<br/>

	<a href="/auth/instagram"><img src = "http://a3.mzstatic.com/eu/r30/Purple1/v4/6b/28/68/6b2868a3-ecc6-46e2-8cc3-2da9de2a2bf6/icon320x320.png" height="30" width="30">Login with Instagram</a>
	<br/>

	<a href="/auth/facebook"><img src = "http://www.bjbproperties.com/images/facebook-icon.png" height="30" width="30">Login with facebook</a>
</footer>
</div>
</section>